/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar {
  -webkit-transform: translate3d(0, 0 , 0);
          transform: translate3d(0, 0 , 0);

  @include clearfix();
  margin-bottom: 1em;

  @include breakpoint($large) {
    @include span(2 of 12);
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    padding-right: 0px; // padding at large breakpoint (removing padding?)
    width: $large-sb; //adjusting width to 1/3 of large at this break-- see _variables.scss
  }


  @include breakpoint($x-large) {
    padding-right: 0px; // padding at x-large breakpoint (removing padding?)
    width: $x-large-sb; //adjusting width to 1/3 of x-large at this break -- see _variables.scss
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  h3, h4 {
    font-size: $type-size-5;
  }

  p, li {
    font-family: $global_font_family; //sidebar now controlled by global font family
    font-size: 0.85em;
    line-height: 1.5;
  }

  img {
    width: 100%; // !Controls image sidebar length! (But image will overlap with other fields)
  }
}

//sidebar__right usually does not appear on the webpage, doesn't do much
.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: relative;
    float: right;
    width: $right-sidebar-width-narrow; // I dont think this does anything.
    margin-left: span(0.5 of 12);
    z-index: 10;
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
  }
}

/*
   Author profile and links
   ========================================================================== */

.author__avatar {
  display: table-cell;
  vertical-align: top; // photo and other things alligned at the top when there's no breakpoint.
  width: 250px; // set 100px -- only will adjust when at no breakpoint (smallest screen size)
  // set width only, for non-square avatars
  // height: 36px;

  @include breakpoint($large) { //This breakpoint is when website is enlarged and info bar alligned left
    display: block;
    width: auto; //This means browser calculates automatically for resizing? This is why we can't edit it directly.
    height: auto;
  }

  img {
    max-width: 2500px; //This is the max width allowable for the picture. This will not change the
                       //actual width-- see above. sidebar length will determine max side of the picture.
    border-radius: 85%; // put back border. 

    @include breakpoint($large) {
      padding: 5px;
      border: 0px solid $border-color; // no border color
    }
  }
} // end author__avatar

.author__content {
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 25px;
  line-height: 1;

  @include breakpoint($large) {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.author__name {
  margin: 0;
  margin-top: 100px;

  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.sidebar .author__name {
  font-family: $global_font_family; // change author name to monospace
  font-size: $type-size-5;

  @include breakpoint($large) {
    margin-left: (0.29 * $large-sb) ; //alligning name to midpoint of sidebar for x-large and large. 0.25 works well.
  }

  @include breakpoint($x-large) {
    margin-left: (0.35 * $x-large-sb)
  }
  
}

.author__bio {
  margin: 0;

  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.author__urls-wrapper {
  position: relative;
  display: table-cell;
  vertical-align: top; //top allignment of follow button, looks weird otherwise on mobile
  font-family: monospace;
  z-index: 10;
  position: relative;
  cursor: pointer;

  li:last-child {
    a {
      margin-bottom: 0;
    }
  }

  @include breakpoint($large) {
    display: block;
  }

  button {
    margin-bottom: 0;
    margin-top: 100px;

    @include breakpoint($large) {
      display: none;
    }
  }
}

.author__urls {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 15px;
  padding: 10px;
  list-style-type: none; //add cool lists
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: #fff;
  z-index: -1;
  box-shadow: 0 0 10px rgba(#000, 0.25);
  cursor: default;

  @include breakpoint($large) {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: -11px;
    left: calc(50% - 10px);
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: $border-color transparent;
    z-index: 0;

    @include breakpoint($large) {
      display: none;
    }
  }

  &:after {
    display: block;
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #fff transparent;
    z-index: 1;

    @include breakpoint($large) {
      display: none;
    }
  }

  li {
    white-space: nowrap;
  }

  a {
    display: block;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: inherit;
    font-size: $type-size-5;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
